#search .block{
  background-color: #dee1e6;
  padding: 15px;
}

#search .block input{
  height: 40px;
  border-radius: 5px;
  background: white url("../../assets/images/search_icon_search.png") no-repeat;
  background-position: 13px center;
  background-size: 6%;
  border: none;
  width: 100%;
  text-indent: 40px;
  font-size: 14px;
}
