#bm-match-live .item{
  display: flex;
  height: 5.5rem;
  padding: 0.5rem;
  background-color: white;
  border-bottom: 1px solid #F2F2F2;
  border-top: 1px solid #F2F2F2;
  align-items: center;
}

#bm-match-live .item div{
  flex: 1;
  text-align: center;
}

#bm-match-live .item div:nth-child(2){
  flex: 1.2;
  font-size: 0.6rem;
  color: #9B9B9B;
  text-align: center;
}

#bm-match-live .item div:nth-child(2) i{
  display: block;
}

#bm-match-live .item div:nth-child(2) p{
  margin: 0;
  padding-bottom: 0.2rem;
}

#bm-match-live .item div:nth-child(2) span{
  display: block;
}

#bm-match-live .item div:nth-child(2) i{
  color: #292A2F;
}

#bm-match-live .teamHead img{
  width: 70%;
  vertical-align: top;
  border-radius: 50px;
}

#bm-match-live .teamHead img+span{
  width: 90%;
  display: block;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin: 0 auto;
  color: #464646;
  font-size: 0.7rem;
  max-width: 110px;
}
