<div id="bm-match-live" >
  <div class="item" *ngFor="let item of item" >
    <div class="teamHead" >
      <img [src]="item.homeTeamBadge | ImgFile:'/w/170/h/170'">
      <span>{{item.homeTeamName}}</span>
    </div>
    <div>
      <p>{{item.matchName}}</p>
      <p>{{item.beginDate | date:'y.M.d h:mm'}}</p>
      <i>—</i>
      <span>{{item.liveStatus.statusLabel}}</span>
    </div>
    <div class="teamHead" >
      <img [src]="item.awayTeamBadge | ImgFile:'/w/170/h/170'" >
      <span>{{item.awayTeamName}}</span>
    </div>
  </div>
</div>
