<div id="bm-match-list" >
  <div class="item" *ngFor="let item of item"  [routerLink]="['/matcheDetail', item.id]" >
    <h4>{{item.chineseName || ''}}</h4>
    <div class="item-main" >
      <img [src]="item.icon | ImgFile:'/w/140/h/140'" alt="">
      <div class="item-content" >
        <div>
          <span>{{item.city.name}}{{item.district && item.district.name || ''}}</span>
          <span>{{item.beginDate | date:'M/d'}} — {{item.endDate | date:'M/d'}}</span>
        </div>
        <div>
          <span [style.color]="item | LiveStateStyle:'color'" >{{item | LiveStateStyle:'content'}}</span>
          <span>{{item.sportType || ''}}</span>
          <span>{{item.gameType  || ''}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
