<div id="bm-match-list" >
  <div class="item" >
    <h4>上海NJ起航篮球友谊赛</h4>
    <div class="item-main" >
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536756102153&di=f12bea7084b175ba73f1fd66b8df545a&imgtype=0&src=http%3A%2F%2Fg.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F18d8bc3eb13533fa6c3719cdaad3fd1f40345b54.jpg" alt="">
      <div class="item-content" >
        <div>
          <span>上海嘉定</span>
          <span>8/20 — 9/10</span>
        </div>
        <div>
          <span>进行中</span>
          <span>足球</span>
          <span>五人制</span>
        </div>
      </div>
    </div>
  </div>
</div>
