<div id="detail" >
  <div class="header" >
    <ul>
      <li (click)="back()" >
        <img src="assets/images/title_icon_back.png" alt="">
      </li>
      <li>
        <img src="assets/images/title_icon_unlike.png" alt="">
      </li>
      <li>
        <img src="assets/images/title_icon_share.png" alt="">
      </li>
    </ul>
  </div>
  <div>
    这里是图片展示位置
  </div>
  <div class="selectTab" >
    <ul>
      <li>
        <img src="assets/images/jifen.gif" alt="">
        <span>积分榜</span>
      </li>
      <li>
        <img src="assets/images/saichen.gif" alt="">
        <span>赛程表</span>
      </li>
      <li>
        <img src="assets/images/playerrank.png" alt="">
        <span>球员榜</span>
      </li>
      <li>
        <img src="assets/images/match_info.png" alt="">
        <span>赛事信息</span>
      </li>
    </ul>
  </div>
</div>
