#detail .header{
  height: 2.8rem;
  padding:0.3rem 0.8rem;
  background-color: black;
}

#detail .header ul{
  display: flex;
  height: 100%;
}

#detail .header ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  text-align: center;
}

#detail .header ul li:nth-child(1){
  justify-content: left;
}

#detail .header ul img{
  transform: scale(0.5);
}

#detail .header ul li:nth-child(1){
  width: calc(100% - 80px);
}

#detail .selectTab ul{
  height: 2.7rem;
  display: flex;
  background-color: white;
}

#detail .selectTab ul li{
  flex: 1;
  font-size: 0.7rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#detail .selectTab ul li img{
  height: 20px;
  vertical-align: top;
}

#detail .selectTab ul li span{
  display: block;
}

#detail .addTeam{
  background-color: white;
  height: 4rem;
}

#detail .team-main{
  margin-top: 0.5rem;
}

#detail .banner img{
 vertical-align: top;
  width: 100%;
}

#detail .addTeam{
  padding:0 0.8rem;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  display: flex;
  align-items: center;
}

#detail .addTeam img{
  width: 55px;
  margin-right: 5px;
  border-radius: 50px;
}
#detail .team-info{
  width: calc(100% - 120px);
}

#detail .team-info b{
  display: block;
  color: #656565;
  font-size: 0.7rem;
  font-weight: normal;
  margin-bottom: 0.3rem;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width: 100%;
}

#detail .team-info span{
  width: 100%;
  display: block;
  font-size: 0.6rem;
  color: #ababab;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

#detail .btn{
  display: block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  font-size: 0.7rem;
  text-align: center;
  color: #cc3232;
  align-self: right;
}
