<div id="detail" >
  <div class="header" >
    <ul>
      <li (click)="back()" >
        <img src="assets/images/title_icon_back.png" alt="">
      </li>
      <li>
        <img src="assets/images/title_icon_unlike.png" alt="">
      </li>
      <li>
        <img src="assets/images/title_icon_share.png" alt="">
      </li>
    </ul>
  </div>
  <div class="banner" >
    <img *ngIf="matchs" [src]="matchs.match.backgroundImage2 | ImgFile:'/w/'+ winWidth +'/h/'+ winWidth" >
  </div>
  <div class="selectTab" >
    <ul>
      <li>
        <img src="assets/images/jifen.gif" alt="">
        <span>积分榜</span>
      </li>
      <li>
        <img src="assets/images/saichen.gif" alt="">
        <span>赛程表</span>
      </li>
      <li>
        <img src="assets/images/playerrank.png" alt="">
        <span>球员榜</span>
      </li>
      <li>
        <img src="assets/images/match_info.png" alt="">
        <span>赛事信息</span>
      </li>
    </ul>
  </div>
  <div class="team-main" *ngIf="matchs" >
    <div class="addTeam" *ngFor="let item of matchs.teamList" >
      <img [src]="item.badge | ImgFile:'/w/110/h/110'" >
      <div class="team-info" >
        <b>{{item.name}}</b>
        <span>{{item.location}}</span>
      </div>
      <div class="btn" >入队</div>
    </div>
  </div>
</div>
