<div id="search" >
  <div class="block" >
    <input type="text" id="searchInput" [(ngModel)]="searchContent" (ngModelChange)="search()" placeholder="搜你所想" > <!-- (ngModelChange)="search()" -->
    <div (click)="search()" >搜索</div>
  </div>
  <div class="tab" >
    <ul>
      <li (click)="selectTabEvent('all')" >
        <span [class.active]="selectTab == 'all'" >全部</span>
      </li>
      <li (click)="selectTabEvent('matches')" >
        <span [class.active]="selectTab == 'matches'" >赛事</span>
      </li>
      <li (click)="selectTabEvent('live')" >
        <span [class.active]="selectTab == 'live'" >直播</span>
      </li>
      <li (click)="selectTabEvent('team')" >
        <span [class.active]="selectTab == 'team'" >球队</span>
      </li>
    </ul>
  </div>

  <div *ngIf="selectTab == 'all'" >
    <div class="bmb-title" *ngIf="matchList && matchList['otherMatchList'].length > 0" >
      <b>赛事</b>
      <span>全部{{matchList['count']}}条内容</span>
    </div>
    <app-bm-match-list *ngIf="matchList" [item]="matchList['otherMatchList'].slice(0, 3)" ></app-bm-match-list>


    <div class="bmb-title" *ngIf="matchLive && matchLive['games'].length > 0" >
      <b>直播</b>
      <span>全部{{matchLive['games'].length}}条内容</span>
    </div>
    <app-bm-match-live *ngIf="matchLive" [item]="matchLive['games'].slice(0, 3 )" ></app-bm-match-live>


    <div class="bmb-title" *ngIf="matchTeam && matchTeam['teams'].length > 0" >
      <b>球队</b>
      <span>全部{{matchTeam['count']}}条内容</span>
    </div>
    <app-bm-match-team *ngIf="matchTeam" [team]="matchTeam['teams'].slice(0, 3 )" ></app-bm-match-team>
  </div>

  <!--<div *ngIf="selectTab == 'matches'" id="mescroll" class="mescroll" style="height: 600px" >
    <app-bm-match-list *ngIf="matchList" [item]="matchAllList" ></app-bm-match-list>
  </div>-->

  <div [hidden]="selectTab != 'matches'" id="mescroll" class="mescroll" >
    <div class="match-list" >
      <app-bm-match-list *ngIf="matchAllList" [item]="matchAllList" ></app-bm-match-list>
    </div>
  </div>

</div>
